{% if user.first_name and user.last_name %}
  <p>Dear {{ user.first_name }} {{ user.last_name }},</p>
{% else %}
  <p>Dear {{ user.username }},</p>
{% endif %}

<p>
  This is a reminder that your HPC compute allocation, <strong>"{{ request.title }}"</strong>,
  is set to expire in {{ days_to_expire }} days on {{ request.expire | date:"D M d, Y" }}.
  Once expired, you will no longer be able to use the resources awarded to you under this
  allocation when submitting new jobs.
</p>

{% if upcoming_requests %}
  <p>
    You currently have {{ upcoming_requests | length }} upcoming or pending applications.
    Any resources granted to you under these allocations remain available for regular use.
  </p>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Status</th>
      <th>Start Date</th>
      <th>Expiration Date</th>
    </tr>
    </thead>
    <tbody>
    {% for request in upcoming_requests %}
      <tr>
        <td>{{ request.id }}</td>
        <td>{{ request.title|slice:":50" }}{% if request.title|length > 50 %}...{% endif %}</td>
        <td>{{ request.status }}</td>
        <td>{% if request.active %}{{ request.active | date:"D M d, Y" }}{% endif %}</td>
        <td>{% if request.expire %}{{ request.expiration_date | date:"D M d, Y" }}{% endif %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}

<p>
  Please submit a new allocation request if you require additional resources.
</p>

<p>Sincerely,</p>
<p>The Keystone HPC Utility</p>
